{% extends "base.html" %}

{% block extra_js %}

<script type="text/javascript">
$( document ).ready( function() {
    $( '#q' ).keyup( function() {
        q = $( '#q' ).val();
        $( '#results' ).html( '&nbsp;' ).load( '{% url search %}?q=' + q );
    });
});

</script>

{% endblock %}

{% block content %}

<div class="form-signin">
    <h3 class="form-signin-heading">ManUtd Players</h3>
	<input id="q" type="text" placeholder="Search player names here..." />
    <br/>
    <div class="margin">
        <div id="results"></div>
    </div>
</div>
{% endblock %}
